.input-field {
  width: 100%;
  margin-bottom: 1rem;

  & > * {
    width: inherit;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    font-size: 1.5rem;
    line-height: 2rem;

    &:focus {
      outline: none;
    }
  }

  textarea {
    max-height: 10rem;
  }
}
