.modal {
  @extend %border-radius-1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;

  &:focus {
    outline: none;
  }

  .modal-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #000;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 10;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  background-color: rgba($color: #000000, $alpha: 0.5) !important;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
